{% extends 'group/group-base-page.html' %}
{% block pregroup %}
    <h1>{{ group.name }}</h1>
    <h2>Member Count: {{ group.members.count }}</h2>

    <div class="content">
        {% if user in group.members.all %}
            <a href="{% url 'groups:leave-group' slug=group.slug %}" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-in">Leave</span>
            </a>
            <li><a class="btn btn-warning" href="{% url 'groups:posts:create-post' slug=group.slug user.pk%}">
            <i>Create Post</i></a>
        {% else %}
            <a href="{% url 'groups:join-group' slug=group.slug %}" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-out">Join</span>
            </a>
        {% endif %}
    </div>

{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet</h2>
        {% else %}
            {% for post in group.posts.all %}
                {% include "post/_post.html" %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}